[Unit]
Description=RVI Sota Server
After=network.target

[Service]
Environment="HOME=/var/lib/rvi_server"
EnvironmentFile=/etc/default/rvi_server
Type=forking
WorkingDirectory=/var/lib/rvi_server
ExecStartPre=/bin/bash /opt/ats/rvi_core/scripts/setup_rvi_node.sh \
    -d -n server -c /var/lib/rvi_server/rvi_server.config
ExecStart=/bin/bash /opt/ats/rvi_core/scripts/rvi_node.sh -n server -d

[Install]
WantedBy=multi-user.target
