[Unit]
Description=RVI Sota Client
After=network.target

[Service]
Environment="HOME=/var/lib/rvi_client"
EnvironmentFile=/etc/default/rvi_client
Type=forking
WorkingDirectory=/var/lib/rvi_client
ExecStartPre=/bin/bash /opt/ats/rvi_core/scripts/setup_rvi_node.sh \
    -d -n client -c /var/lib/rvi_client/rvi_client.config
ExecStart=/bin/bash /opt/ats/rvi_core/scripts/rvi_node.sh -n client -d

[Install]
WantedBy=multi-user.target
